<div>
  <div class="col-12  d-flex mt-4 " style="width: 100%;">
    <!-- Question n its details -->
    <div class="" style="width: 70%;" *ngIf=" questionObj">
      <div class="d-flex justify-content-between">
        <div class="text-center d-flex ms-4">
          <img src={{questionObj.img}} alt="" class="userImg">
          <a href="#" class="mt-1 ms-2"> {{questionObj.name}} </a>
        </div>
        <div class="me-3">
          <select name="" id="">
            <option value="Options">Options here</option>
            <option value="">Option1</option>
          </select>
        </div>
      </div>

      <div>
        <div class="ms-4">
          <span> Date </span> <br>
          <b class="fs-5"> {{questionObj.question}} </b>
          <p class="mt-2"> {{questionObj.description}} </p>
          <button class="btn btn-outline-primary mt-4"> Me too </button>
          <div class="d-flex mt-3 justify-content-between">
            <p class="d-flex">
              <span class="material-symbols-outlined"> thumb_up </span>
              <b class="ms-2"> 3 likes </b>
            </p>
            <p class="me-3 d-flex">

              <button pButton pRipple type="button" class="p-button-rounded p-button-primary p-button-outlined"
                (click)="replyToQuestion()">
                <span class="material-symbols-outlined"> sms </span>
              </button>
              <p-dialog header="Leave you reply here" [(visible)]="replyBox" [modal]="true" [style]="{width: '50vw'}">
                <!--Editor to take response from user  -->
                <div>
                  <p-editor [(ngModel)]="editorText" [style]="{'height':'320px'}" #myEditor>
                    <ng-template pTemplate="header">
                      <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </div>
                <ng-template pTemplate="footer">
                  <p-button icon="pi pi-check" (click)="messageSubmit()" label="Ok"
                    styleClass="p-button-text"></p-button>
                </ng-template>
              </p-dialog>

            </p>
          </div>
        </div>

        <div class="mt-4">
          <b class="fs-4 ms-4"> Accepted Solutions </b>
          <div class="card mt-1 " *ngFor="let data of solutions">
            <div class="d-flex mt-4 ms-4 justify-content-between ">
              <div class="d-flex ">
                <img src={{data.img}} alt="" class="userImg">
                <div class="ms-2">
                  <b>{{data.name}}</b>
                  <p> {{data.profession}} </p>
                </div>
              </div>
              <div class="me-3">
                <select>
                  <option value="Select Options">Select Options </option>
                  <option value="">option01</option>
                </select>
              </div>
            </div>
            <div class="d-flex mt-2 ms-4">
              <b> Date n time </b>
              <p class="ms-4 d-flex">
                <span class="material-symbols-outlined "> check_box </span>
                <span class="mt-1">Go to Solution</span>
              </p>
            </div>
            <div class="ms-4">
              <span class="material-symbols-outlined"> check_box </span>
              <span> Email LMS at <a href="#">lmsVerification@gmail.com</a> </span>
            </div>
            <div class="mt-3 ms-4">
              <pre> {{data.solution}} </pre>
            </div>
            <div class="d-flex mt-4 ms-4 justify-content-between mb-3">
              <div class="d-flex">
                <span class="material-symbols-outlined">
                  thumb_up
                </span> <b class="ms-2"> 2 likes</b>
              </div>
              <div class="d-flex me-3">
                <span> Reply</span>
                <button pButton pRipple type="button" class="p-button-rounded p-button-danger p-button-outlined"
                  (click)="replyToAnsweredQuestion()">
                  <span class="material-symbols-outlined"> chat </span>
                </button>
                <p-dialog header="Leave you reply here" [(visible)]="reReplyingBox" [modal]="true"
                  [style]="{width: '50vw'}">
                  <!--Editor to take response from user  -->
                  <div>
                    <form action="">
                      <p-editor [(ngModel)]="editorText" [style]="{'height':'320px'}" #reReplyEditor>
                        <ng-template pTemplate="header">
                          <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                          </span>
                        </ng-template>
                      </p-editor>
                    </form>
                  </div>
                  <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="submitReReply()" label="Ok"
                      styleClass="p-button-text"></p-button>
                  </ng-template>
                </p-dialog>
              </div>
              <button class="btn btn-outline-primary me-3" (click)="showRereplies()">Replies ( {{repliesLength}} )
              </button>
            </div>
            <div [hidden]='showReReplies'>
              <div class="card mt-1 " *ngFor="let reply of reRepliedArr">
                <div class="d-flex mt-4 ms-4 justify-content-between ">
                  <div class="d-flex ">
                    <img src={{reply.img}} alt="" class="userImg">
                    <div class="ms-2">
                      <b>{{reply.name}}</b>
                      <p> {{reply.profession}} </p>
                    </div>
                  </div>
                  <div class="me-3">
                    <select>
                      <option value="Select Options">Select Options </option>
                      <option value="">option01</option>
                    </select>
                  </div>
                </div>
                <div class="mt-3 ms-4">
                  <pre> {{reply.solution}} </pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

    <!--Extra details in side  -->
    <div class="" style="width: 28%;">
      <div>
        <div>
          <form action="" class="d-flex">
            <input type="search" placeholder="Search for Community" class="w-75 form-control">
            <button class="btn btn-outline-secondary" style="height: 2.6rem;"> <span class="material-symbols-outlined">
                search
              </span> </button>
          </form>

        </div>

        <div class="card text-center mt-4">
          <b class="fs-5 mt-4"> First time Course creation.</b>
          <p class="mt-4"> Desiced to take the pludge and create your own LMS Course? Checkout some incredible LMS
            success Stories, and get inspired. </p>
          <b class="fs-6 mt-4 text-primary mb-2"> View more conversations. </b>
        </div>

        <div class="card text-center mt-4">
          <b class="fs-5 mt-4"> Related Content </b>
          <b class="mt-4 fs-6"> Am not satisfied with my course. </b>
          <p> Discussion in <a href="#">First-time Course creation </a> </p>
          <hr>
          <b class="mt-4 fs-6"> How can i solve my questions </b>
          <p> Discussion in <a href="#">First-time Course creation </a> </p>
          <hr>
          <b class="mt-4 fs-6"> How can i solve my questions </b>
          <p> Discussion in <a href="#">First-time Course creation </a> </p>
          <hr>
          <b class="mt-4 fs-6"> How can i solve my questions </b>
          <p> Discussion in <a href="#">First-time Course creation </a> </p>

        </div>
        <div class="text-center mt-4 card">
          <b class="mt-2 fs-5">Top LIked Authors.</b>
          <div class="d-flex mt-3" *ngIf="questionObj">
            <div class="text-center d-flex ms-5">
              <img src={{questionObj.img}} alt="" class="userImg">
              <div class="ms-2">
                <a href="#" class="mt-1 ms-2"> {{questionObj.name}} </a>
                <p> <span class="material-symbols-outlined">
                    thumb_up
                  </span> <span> 4 </span> </p>
              </div>
            </div>
          </div>
          <div class="d-flex mt-2" *ngIf="questionObj">
            <div class="text-center d-flex ms-5">
              <img src={{questionObj.img}} alt="" class="userImg">
              <div>
                <a href="#" class="mt-1 ms-2"> {{questionObj.name}} </a>
                <p>
                  <span class="material-symbols-outlined">
                    thumb_up
                  </span> <span> 2 </span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
