.userImg {
  height: 2rem;
  width: 2rem;
  border-radius: 75%;
}

.float-end {
  float: inline-end;
}

.textEnd {
  text-align: end;
}

.mahesh {
  display: flex;
  justify-content: space-between;
}
