<!-- footer -->
<div class="container-fluid bg-dark mt-5 footer">
    <div class="row mt-3">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="text-white">
                <div class="d-flex ;justify-space-around p-3">
                    <h3 class="mr-2">Follow us</h3>
                    <h3><i class="pi pi-linkedin fs-3 mr-4"></i></h3>
                    <h3><i class="pi pi-facebook fs-3 mr-4"></i></h3>
                    <h3><i class="pi pi-twitter fs-3 mr-4"></i></h3>
                    <h3><i class="pi pi-instagram fs-3 mr-4"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="row mt-5">
        <div class="col-lg-9">
            <div class="row ml-2">
                <div class="col-lg-3 text-white p-3">
                    <h5 class="fs-5">
                        <a class="text-decoration-none text-white" href="">Lms Business</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Teach on Lms</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Get the app</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">About us</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Investors</a>
                    </h5>
                </div>
                <div class="col-lg-3 text-white p-3">
                    <h5 class="fs-5">
                        <a class="text-decoration-none text-white" href="">Careers</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Blog</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Help</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Affiliate</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Accessibility statement</a>
                    </h5>
                </div>
                <div class="col-lg-3 text-white p-3">
                    <h5 class="fs-5">
                        <a class="text-decoration-none text-white" href="">Terms</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Privacy policy and cookie policy</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Sitemap</a>
                    </h5>
                    <h5 class="fs-5">
                        <a href="" class="text-decoration-none text-white">Featured topics</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-5 position-relative">
            <div class="position-absolute top-0 end-0">
                <div class="footer-lang-btn">
                    <a href=""><i class="pi pi-globe p-2"></i>English</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-2 mt-3">
        <div class="col-lg-6">
            <div class="justify-content-start">
                <h1><a class="text-decoration-none text-white" href="">LMS</a></h1>
            </div>
        </div>

        <div class="col-lg-6 position-relative">
            <div class="position-absolute top-0 end-0">
                <p class="text-white mr-5">@2023 LMS,Inc.</p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->