<div class="container-fluid py-4 learningHead">
  <div class="container">
    <h1 style="font-size: 2.5rem;">My Libraries</h1>
  </div>
  
</div>
<div class="container-fluid">
  <p-tabView>
    <p-tabPanel header="All Course">
      <b class=" ">Sort By</b>
      <div class="row filter mt-4">
        <div class="col-lg-2 mb-1">
          <p-dropdown [options]="recentlyAccessDropdown" [(ngModel)]="selectedRecentlyAccess" optionLabel="name"
          filterBy="name" [showClear]="true" class="w-100"   placeholder="Select Preference "></p-dropdown>
        </div>
        <div class="col-lg-2 mb-1">
          <p-dropdown [options]="categoryDropdown" [(ngModel)]="selectedCategory" optionLabel="name" filterBy="name"
          [showClear]="true" class="w-100"  placeholder="Select Category "></p-dropdown>
        </div>
        <div class="col-lg-2 mb-1">
          <p-dropdown [options]="progressDropdown" [(ngModel)]="selectedProgress" optionLabel="name" filterBy="name"
          [showClear]="true" class="w-100"  placeholder="Select Progress "></p-dropdown>
        </div>
        <div class="col-lg-2 mb-1">
          <p-dropdown [options]="instructorDropdown" [(ngModel)]="selectedInstructor" optionLabel="name" filterBy="name"
          [showClear]="true" class="w-100"  placeholder="Select Instractor "></p-dropdown>
        </div>
        <div class="col-lg-3 mb-1">
          <div class="d-flex">
            <input type="search" class="form-control w-100" [(ngModel)]="searchWord" placeholder="Enter something"
              (ngModelChange)="searchFun()" style="line-height: 2;">
            <button class="btn btn-dark"><i class="pi pi-search"></i></button>
          </div>
        </div>
        <div class="col-lg-1 mb-1">
          <button pButton pRipple type="button" label="Reset"
          class="p-button-outlined p-button-secondary"></button>
        </div>
     
      </div>
      <div class="row mt-4"  *ngIf="searchData.length!=0">
        <div class="col-lg-3 mb-4" *ngFor="let search of searchData" >
          <div class="card course-card">
            <div class="img-header">
              <a [routerLink]="['/user/library',search.id]" routerLinkActive="routerActive"> <img src={{search.url}} alt=""
                class="courseFigure" (click)="myCourseDetails(search)"> </a>
            </div>
              <hr class="m-0 p-0">
              <h2 class="cursor-pointer px-3" style="cursor: pointer;"> {{search.title}} </h2>
              <div class="px-3">
                <div class="text-wrap " [routerLink]="['/user/library',search.id]">
                  <p class="cursor-pointer">{{search.desc}} </p>
                </div>
                <div class=" cursor-pointer" [routerLink]="['/user/library',search.id]">
                  <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-primary" role="progressbar" [style.width]="progressValue + '%'"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p> {{progressValue}} % Complete</p>
                </div>
                <div class="mt-4 ml-auto d-flex justify-content-end">
                  <p-rating [stars]=5 [cancel]=false> </p-rating>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <!-- <div *ngIf="searchData.length!=0" class="course_DetailsDiv">
        <div *ngFor="let search of searchData" class="courseDiv">
          <a [routerLink]="['/user/library',search.id]" routerLinkActive="routerActive"> <img src={{search.url}} alt=""
              class="courseFigure" (click)="myCourseDetails(search)"> </a>
          <h2 class="ms-3 cursor-pointer" style="cursor: pointer;"> {{search.title}} </h2>
          <div>
            <div class="text-wrap " [routerLink]="['/user/library',search.id]">
              <p class="ms-3 me-2 cursor-pointer">{{search.desc}} </p>
            </div>
            <div class="ms-3 me-3 cursor-pointer " [routerLink]="['/user/library',search.id]">
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-primary" role="progressbar" [style.width]="progressValue + '%'"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p> {{progressValue}} % Complete</p>
            </div>
            <div class="mt-2 text-center">
              <p-rating [stars]=5 [cancel]=false> </p-rating>
            </div>
          </div>
        </div>
      </div> -->
  
      <!-- <div *ngIf="searchData.length ==0" class="course_DetailsDiv">
        <div class="courseDiv" *ngFor="let courseDetails of course_Details">
          <a [routerLink]="['/user/library',courseDetails.id]" routerLinkActive="routerActive"> <img
              src={{courseDetails.url}} alt="" class="courseFigure" (click)="myCourseDetails(courseDetails)"> </a>
          <h2 class="ms-3"> {{courseDetails.title}} </h2>
          <div>
            <div class="text-wrap">
              <p class="ms-3 me-2">{{courseDetails.desc}} </p>
            </div>
            <div class="ms-3 me-3">
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-primary" role="progressbar" [style.width]="progressValue + '%'"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p> {{progressValue}} % Complete</p>
            </div>
            <div class="mt-2 text-center">
              <p-rating [stars]=5 [cancel]=false> </p-rating>
            </div>
          </div>
        </div>
      </div> -->
    </p-tabPanel>
    <p-tabPanel header="My List">
      Content 2
    </p-tabPanel>
    <p-tabPanel header="Wish List">
      Content 3
    </p-tabPanel>
    <p-tabPanel header="Archives">
      Content 4
    </p-tabPanel>
    <p-tabPanel header="MY Tools">
      Content 5
    </p-tabPanel>
  </p-tabView>
</div>
 
