<app-user-header></app-user-header>
<div>
  <div class="w-100 learningHead">
    <div>
      <h1 class="text-black pt-5 pb-2" style="font-size: 3rem;padding-left: 125px;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: 600;">My libraries </h1>
    </div>
  </div>
  <div class="container">
    <p-tabView>
      <p-tabPanel header="All Course" style="background-color: #d6e7eb;">
        <div class=" course_DetailsDiv">
          <div class="courseDiv" *ngFor="let courseDetails of course_Details">
            <a [routerLink]="['/user/library',courseDetails.id]" routerLinkActive="routerActive"> <img
                src={{courseDetails.url}} alt="" class="courseFigure" (click)="myCourseDetails(courseDetails)"> </a>
            <h2 class="ms-3"> {{courseDetails.title}} </h2>
            <div>
              <div class="text-wrap">
                <p class="ms-3 me-2">{{courseDetails.desc}} </p>
              </div>
              <div class="ms-3 me-3">
                <div class="progress" style="height: 4px;">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width]="progressValue + '%'"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p> {{progressValue}} % Complete</p>
              </div>
              <div class="mt-2 text-center">
                <p-rating [stars]=5 [cancel]=false> </p-rating>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="My List">
        Content 2
      </p-tabPanel>
      <p-tabPanel header="Wish List">
        Content 3
      </p-tabPanel>
      <p-tabPanel header="Archives">
        Content 4
      </p-tabPanel>
      <p-tabPanel header="MY Tools">
        Content 5
      </p-tabPanel>
    </p-tabView>


  </div>
<app-user-footer></app-user-footer>