<p-dialog header="Update Course" [(visible)]="editFormVisible" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="popupForm">

    <div class="p-fluid grid">
      <div class="field mt-2 w-100">
        <label for="name">
          Name<span class="text-danger fs-5">*</span> :
        </label>
        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="name" pInputText
            placeholder="Course Name" />

          <small class="p-error block" *ngIf="
                  popupForm.get('name')?.invalid &&
                  popupForm.get('name')?.touched
                ">
            <ng-container *ngIf="popupForm.get('name')?.errors?.['required']">Course name is
              required.</ng-container>
            <ng-container *ngIf="popupForm.get('name')?.errors?.['pattern']">Numbers or special characters
              are not allowed.</ng-container>
          </small>
        </span>
      </div>
      <div class="field mt-2 w-100">
        <label for="description">Description :</label>
        <span class="p-float-label">
          <textarea rows="5" formControlName="description" pInputTextarea (input)="checkWordCount()"
            [style]="{ width: '100%' }" placeholder="Enter description" [readOnly]="remainingWords == 0"></textarea>
          <div class="d-flex justify-content-end">
            <p>{{ remainingWords }} Words remaining</p>
          </div>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="image"> Thumbnail image :
          <img *ngIf="edituserLearnings.attributes.placeholder_img.data != null"
            [src]=" imgSrc ? imgUrl+imgSrc: imgUrl+edituserLearnings.attributes.placeholder_img.data.attributes.formats?.thumbnail?.url"
            alt="" pTooltip="Click to change image" tooltip [style]="{'height':'80px','width':'80px'}"
            class=" ms-5 rounded-pill">

          <img src="" alt="No Image" *ngIf="edituserLearnings.attributes.placeholder_img.data == null"
            [style]="{'height':'80px','width':'80px'}" class=" ms-5 rounded-pill">

        </label>
        <span class="p-float-label">
          <input type="file" id="image" accept="image/*" class="bg-light-grey input-shadow w-100 p-inputtext d-none"
            (change)="courseFileSelected($event)" pInputText />
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="imgUploadProgress"></p-progressBar>
        </span>
        <ng-container *ngIf="showimageFileData">
          <span>Selected Image <b>{{imageFileData}}</b> </span>
        </ng-container>
      </div>

      <div class="field mt-2 w-100">
        <label for="courseVideos">
          Content Video (mp4) :
          <ng-container class="d-flex flex-wrap " *ngIf="newVideosUpload.length == 0 ; else newVideos">
            <div *ngFor="let videos of edituserLearnings.attributes.content?.data">
              <video [src]="videos.attributes.url" class="m-2" style="height: 100px;width: 100px;"></video>
            </div>
          </ng-container>
          <ng-template #newVideos>
            <div class="d-flex">
              <div *ngFor="let videos of newVideosUpload">
                <div>
                  <video [src]="videos.url" class="m-2" style="height: 100px;width: 100px;"></video>
                </div>
              </div>
            </div>
          </ng-template>
        </label>
        <span class="p-float-label">
          <input type="file" id="courseVideos" accept="video/*" multiple
            class="bg-light-grey input-shadow w-100 p-inputtext d-none" pInputText
            (change)="courseFileSelect($event)" />
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="videoUploadProgress"></p-progressBar>
        </span>
        <ng-container *ngFor="let desc of courseContentVideo; let i=index">
          <div class="my-2">
            <label for="videoDescription"> {{desc.name}} <b>Description</b> :</label>
            <textarea name="desc" id="videoDescription" rows="3" [style]="{'width':'100%'}" class="my-2" pInputText
              placeholder="Enter description for {{desc.name}}" (blur)="onInputChanged($event,desc)"></textarea>
          </div>
        </ng-container>
      </div>

      <div class="field mt-2 w-100">
        <label for="link">Link :</label>
        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="link" pInputText
            placeholder="Enter link here." />
        </span>
        <small class="p-error block" *ngIf="
                popupForm.get('link')?.invalid &&
                popupForm.get('link')?.touched
              ">
          Please enter valid http address.
        </small>
      </div>

      <div class="field mt-2 w-100">
        <label for="technology">Technology<span class="text-danger fs-5">*</span> :
        </label>

        <p-multiSelect formControlName="technologies" id="technology" [options]="Technologies"
          placeholder="Select Technology" (onChange)="techSelected($event)"></p-multiSelect>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
                  popupForm.get('technology')?.invalid &&
                  popupForm.get('technology')?.touched
                ">
            Technology selection is required.
          </small>
        </span>

      </div>

      <div class="field mt-2 w-100">
        <label for="technology">Level<span class="text-danger fs-5">*</span> :
        </label>
        <p-dropdown [options]="levels" optionLabel="level" placeholder="Select Level" formControlName="level"
          (onChange)="levelSelected($event)"></p-dropdown>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
                  popupForm.get('level')?.invalid &&
                  popupForm.get('level')?.touched
                ">
            Technology Level is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="name">Category<span class="text-danger fs-5">*</span> :
        </label>
        <p-dropdown formControlName="subject" [options]="subjects" optionLabel="industry" placeholder="Select Category"
          (onChange)="subjectSelected($event)"></p-dropdown>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
                  popupForm.get('subject')?.invalid &&
                  popupForm.get('subject')?.touched
                ">
            Category selection is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="imgage">Course Includes:</label>
        <div class="row">
          <div class="d-flex ms-4">
            <div class="form-check col-lg-6 me-4 checkbox-xl">
              <input class="form-check-input" value="Certificate" type="checkbox" formArrayName="courseIncludes"
                [checked]="selectedCourseIncludes.includes('Certificate')"
                (change)="checkboxValue($event, 'Certificate')" />
              <label class="form-check-label ms-2" for="certificate">Certificate</label>
            </div>
            <div class="form-check col-lg-6 checkbox-xl">
              <input class="form-check-input" value="Documents" type="checkbox" formArrayName="courseIncludes"
                [checked]="selectedCourseIncludes.includes('Documents')"
                (change)="checkboxValue($event, 'Documents')" />
              <label class="form-check-label ms-2" for="documents">Documents</label>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showDocuments">
          <div class="field mt-2 w-100">
            <label for="uploadFile"> Uploaded Documents (pdf/csv/excel/zip) <span class="text-danger fs-5">*</span> :
              <div class="cursor-pointer" *ngIf="edituserLearnings.attributes.files.data !=null">
                <iframe
                  [src]="getSafeFileUrl(edituserLearnings.attributes.files.data[0]?.attributes.url,edituserLearnings.attributes.files.data[0]?.attributes.ext)"
                  width="100%" height="100px"></iframe>
                <p> {{edituserLearnings.attributes.files.data[0]?.attributes.name}} </p>
              </div>
            </label>
            <span class="p-float-label" *ngIf="edituserLearnings.attributes.files.data == null">
              <input type="file" id="uploadFile" accept=".pdf,.csv,.gif,.xls,.xlsx"
                class="bg-light-grey input-shadow w-100 p-inputtext" pInputText (change)="courseDocSelected($event)" />
            </span>
            <div *ngIf="popupForm.get('documents')?.invalid && popupForm.get('documents')?.touched" class="text-danger">
              Please select a file.
            </div>
          </div>
        </ng-container>
      </div>

      <div class="field mt-2 w-100">
        <label for="price">Price <span class="text-danger fs-5">*</span> :</label>
        <span class="p-float-label">
          <input type="number" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="price" pInputText
            placeholder="Enter price" />
        </span>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
              popupForm.get('price')?.invalid &&
              popupForm.get('price')?.touched
            ">
            Price is required.
          </small>
        </span>
      </div>


    </div>
    <div class="d-flex justify-content-between mt-2">
      <button type="button" class="btn btn-dark cursor-pointer" (click)="cancelUpdate()">
        <i class="pi pi-delete-left me-2 "> </i>Cancel
      </button>

      <button type="button" class="btn btn-success me-2 cursor-pointer" (click)="onUpdateContent()">
        <i class="pi pi-save me-2 "></i>Update
      </button>
    </div>


  </form>
</p-dialog>

<div>
  <p-toast></p-toast>
</div>
