<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner-image">
        <div class=" banner-content  bg-white border">
          <h1><b>Learning never exhausts the mind</b></h1>
          <h3>Skills for your present (and your future). Get started with us.</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-image-1">
        <div class=" banner-content  bg-white border">
          <h1><b>Keep moving up</b></h1>
          <h3>Learn the skills you need to take the next step — and every step after. Log in now to save on
            courses
            through March 1..</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-image">
        <div class=" banner-content  bg-white border">
          <h1><b>Learning never exhausts the mind</b></h1>
          <h3>Skills for your present (and your future). Get started with us.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="Spinner">
  <div class="loader">Loading...</div>
</div>
<div class="container-fluid" *ngIf="!Spinner">
  <div class="text-center">
    <h2><b>Courses to get you Started</b></h2>
  </div>
</div>
<div class="container-fluid">
  <p-tabView>
    <p-tabPanel header="Most Popular">

      <!-- <div class="loader">Loading...</div> -->
      <div class="row  justify-content-end">
        <div class="col-lg-6 d-flex">
          <input type="search" class="form-control w-100" placeholder="Search for courses" style="line-height: 2;">
          <button class="btn btn-dark"><i class="pi pi-search"></i></button>
        </div>
      </div>
      <div class="row all-Courses">
        <p-card class="course-card" *ngFor="let course of coursesList">
          <ng-template pTemplate="header" *ngFor="let courseImg of course.attributes.media?.data">
            <div class="courseImage">
              <a><img alt="Card" src="{{ courseImg.attributes.url }}" pTooltip="Click to see Course details." tooltip
                  style="height: 225px;  border-radius: 10px 10px 2px 2px" (click)="openCourseDetails(course)"
                  [routerLink]="['course/',course.id]" /></a>
            </div>
          </ng-template>
          <div class="cursor-pointer" (click)="openCourseDetails(course)">
            <h4>
              <b>{{ course.attributes.name}}</b>
            </h4>
            <p>{{ course.attributes.author }}</p>
            <div class="d-flex">
              <!-- <p-rating [ngModel]="course.rating" [stars]="5" [cancel]="false"
                                [className]="'custom-star'">
                            </p-rating>
                            <p>({{ course.rating }})</p> -->
              <p> Rating will show here </p>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <div class="row align-items-center">
              <div class="col-lg-6 cursor-pointer" *ngIf="course.attributes.price != 0">
                <h3 (click)="openCourseDetails(course)">
                  <b>{{ course.attributes.price | currency : "INR" }} </b>
                </h3>
              </div>
              <div class="col-lg-6 d-flex justify-content-end">
                <!-- <button class="btn btn-warning" *ngIf="course.attributes.price != 0"
                  routerLink="/user/payment">BuyNow</button> -->
                  <button class="btn btn-warning" *ngIf="course.attributes.price != 0"  data-id="1" data-email="userEmail" data-url="http://206.189.140.51:1337"> BuyNow </button>
                <!-- <button class="btn btn-success" *ngIf="course.attributes.price == 0">Free</button> -->
                <div *ngIf="libDataId && course.id && libDataId.includes(course.id)">
                  <button class="btn btn-success"> Subscribed </button>
                </div>
                <div *ngIf=" course.attributes.price == 0 && libDataId && course.id && !libDataId.includes(course.id)">
                  <button class="btn btn-danger"> Free </button>
                </div>

              </div>
            </div>

          </ng-template>
        </p-card>

      </div>
      <div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Trending">
      <!-- <div class="row all-Courses">
        <p-card *ngFor="let course of courseList">
          <ng-template pTemplate="header">
            <div class="courseImage">
              <a><img alt="Card" src="{{ course.courseImage }}" style="height: 225px; border-radius: 10px 10px 2px 2px"
                  (click)="openCourseDetails(course)" /></a>
            </div>
          </ng-template>
          <div class="courseContent mt-1">
            <h4>
              <b>{{ course.courseTitle }}</b>
            </h4>
            <p>{{ course.author }}</p>
            <div class="d-flex">

              <div>
                <p-rating [ngModel]="course.rating" [cancel]="false" [readonly]="true"></p-rating>
              </div>

              <p>({{ course.rating }})</p>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h3>
                  <b>{{ course.price | currency : "INR" }} </b>
                </h3>
              </div>
              <div class="col-lg-6 d-flex justify-content-end">
                <button class="btn btn-warning">BuyNow</button>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div> -->
      <b> Trending Courses will come here.</b>
    </p-tabPanel>
  </p-tabView>
</div>
