.communityBg{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-blue-future-technology-forum-image_208172.jpg');
  height:50vh;
  width: 100%;
  background-size: cover;
}

.userImg{
  height: 2rem;
  width: 2rem;
  border-radius: 75%;
}
.material-symbols-outlined{
  cursor:pointer;
}



