<div class="content-inner surface-ground surface-ground-wrappers px-3 py-3">
  <div class="d-flex justify-content-between">
    <p class="fs-4">𝐀𝐥𝐥 𝐂𝐨𝐦𝐦𝐮𝐧𝐢𝐭𝐲</p>
    <button class="btn btn-primary" (click)="displayCommunityForm()">Create Community</button>
  </div>

  <div>
    <p-dialog header="Create Community" [(visible)]="showCommunityForm" [modal]="true">
      <form [formGroup]="communityForm" (ngSubmit)="onSubmitCommunityForm()">
        <div class="p-fluid grid">
          <div class="field mt-2 w-100">
            <label for="title">Name :</label>
            <span class="p-float-label">
              <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" class="form-control" required
                formControlName="community_Name" pInputText placeholder="Enter Community name.">
              <small class="p-error block"
                *ngIf="communityForm.get('community_Name')?.invalid && (communityForm.get('community_Name')?.dirty || communityForm.get('community_Name')?.touched)">
                Communtiy name is required. </small>
            </span>
          </div>

          <div class="field mt-2 w-100">
            <label for="description"> Description :</label>
            <span class="p-float-label">
              <textarea inputId="textarea" required class="bg-light-grey input-shadow w-100 p-inputtext" rows="3"
                style="resize: none;" cols="30" formControlName="community_Desc" pInputTextarea
                placeholder="Enter Description here."></textarea>
              <small class="p-error block"
                *ngIf="communityForm.get('community_Desc')?.invalid && (communityForm.get('community_Desc')?.dirty || communityForm.get('community_Desc')?.touched)">
                Description name is required.</small>
            </span>
          </div>

          <div class="field mt-4 w-100">
            <label for="content">Image : </label>
            <span class="p-float-label mb-1">
              <input type="file" required class="bg-light-grey input-shadow w-100 p-inputtext"
                (change)="onFileSelect($event)" pInputText>
            </span>
            <small class="p-error block"
              *ngIf="communityForm.get('community_Img')?.touched && communityForm.get('community_Img')?.invalid">
              Please select a image.
            </small>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <button (click)="closeDialog()" type="button" class="btn btn-dark"><i
              class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
          <button class="btn btn-success" type="submit">Submit</button>
        </div>
      </form>
    </p-dialog>
  </div>

  <div *ngIf="spinner">
    <div class="loader">Loading...</div>
  </div>

<div  *ngIf="!spinner">
  <div class="d-flex flex-wrap col-lg-12 col-md-12">
    <div *ngFor="let community of GlobalCommunities" class="col-4">
      <div class="card">
        <div class="card p-3" style="height: 250px;">
          <div class=" d-flex justify-content-between card-header">
            <b class="fs-4"> {{community.attributes?.name}} </b>
            <div> <span class="material-icons" [style]="{'color':'red','cursor':'pointer'}" (click)="deleteCommunity(community.id)" pTooltip="Delete" tooltip >
                delete
                </span>
                <span class="material-icons p-2" [style]="{'color':'green','cursor':'pointer'}" (click)="updateCommunity(community,community.id)" pTooltip="Edit" tooltip>
                  edit
                  </span>
              </div>
          </div>
          <div class="mt-4 card-body" style="height: 100px; overflow-y: auto;">
            <b class="fs-6"> {{community.attributes?.description}} </b>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-5 mb-3 card-footer">
            <div class="image">
              <img *ngIf="community.attributes?.profile_media?.data?.attributes.url != null"
                [src]='community.attributes.profile_media?.data.attributes.url' class="img-fluid user-img"
                alt="path mismatch">

              <div *ngIf="community.attributes.profile_media.data == null">
                <p-avatar label="img" shape="circle"></p-avatar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
<div>
  <p-dialog header="Update Community" [(visible)]="showUpdateCommunityForm" [modal]="true">
    <form [formGroup]="updateCommunityForm" (ngSubmit)="onSubmitUpdateCommunityForm()">
      <div class="p-fluid grid">
        <div class="field mt-2 w-100">
          <label for="title">Name :</label>
          <span class="p-float-label">
            <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" class="form-control" required
              formControlName="update_Name" pInputText placeholder="Enter Community name.">
            <small class="p-error block"
              *ngIf="updateCommunityForm.get('update_Name')?.invalid && (updateCommunityForm.get('update_Name')?.dirty || updateCommunityForm.get('update_Name')?.touched)">
              Communtiy name is required. </small>
          </span>
        </div>


        <div class="field mt-2 w-100">
          <label for="description"> Description :</label>
          <span class="p-float-label">
            <textarea inputId="textarea" required class="bg-light-grey input-shadow w-100 p-inputtext" rows="3"
              style="resize: none;" cols="30" formControlName="update_Desc" pInputTextarea
              placeholder="Enter Description here."></textarea>

              <small class="p-error block"
              *ngIf="updateCommunityForm.get('update_Desc')?.invalid && (updateCommunityForm.get('update_Desc')?.dirty || updateCommunityForm.get('update_Desc')?.touched)">
              Description is required. </small>
          </span>
        </div>

        <div class="field mt-4 w-100">
          <label for="content">Image : </label>
          <span class="p-float-label mb-1">
            <input type="file" required class="bg-light-grey input-shadow w-100 p-inputtext"
              (change)="onFileSelect($event)" pInputText>
          </span>

        </div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <button (click)="closeDialog()" type="button" class="btn btn-dark"><i
            class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </p-dialog>
</div>
<div class="card">
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
