<div class="surface-ground px-4 py-3 content-inner">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 d-flex align-items-center">
      <h1 style="font-size: 1.5rem;"><b> Assessments</b> </h1>

    </div>

  </div>

  <div *ngIf="uniqueTech">
    <p-table [value]="uniqueTech" class="table" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,15,20]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20%">Technology</th>
          <th style="width:20%">Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tech>
        <tr>
          <td (click)="showQuizQuestions(tech)" class="cursor-pointer">{{tech}} </td>
          <td>
            <div class="add_remove_button ">

              <span class="material-icons text-primary cursor-pointer mb-1" (click)="showDialog(tech)"
                style="font-size: 2rem;">
                add
              </span>
              <span class="material-icons text-danger cursor-pointer mb-1 ms-1" style="font-size: 1.7rem;"
                *ngIf="techCourseNames.includes(tech.toLowerCase())" (click)="deleteExam(tech)">
                delete
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>


  <div class="row d-flex " *ngIf="!allCourses">

    <div class="d-flex justify-content-center card shadow-4 col-lg-3">
      <div class="card-body text-center d-flex justify-content-center align-items-center">
        <p class="fs-4 lh-sm"> Courses are not available</p>
      </div>
    </div>
  </div>

  <p-dialog header="Confirmation.." [(visible)]="delAss" [style]="{width: '50vw'}" styleClass="active" [modal]="true">
    <div class="">
      <h2> Select level to delete Assessments of {{deleteAss}} </h2>
      <div class="d-flex m-4">

        <button class="btn btn-primary" value="beginner" (click)="deleteAssesmentLevel($event)">Beginner</button>
        <button class="btn btn-warning ms-2" value="intermediate"
          (click)="deleteAssesmentLevel($event)">Intermediate</button>
        <button class="btn btn-info ms-2" value="advanced" (click)="deleteAssesmentLevel($event)">Advansed</button>
        <button class="btn btn-danger ms-2" value="all" (click)="deleteAllAssesmentLevel($event)">ALL</button>

      </div>
    </div>
  </p-dialog>

  <!-- Add dialog start -->
  <p-dialog header="Add Question" [(visible)]="visible" [style]="{width: '50vw'}" styleClass="active" [modal]="true">
    <hr>
    <form [formGroup]="addQuizGroup" (ngSubmit)="onSubmitQuestionDetails()">
      <div class="p-fluid grid">
        <div class="field mt-2 w-100">
          <label for="title">Course name<span class="text-danger fs-5">*</span> :</label>
          <span>
            <input type="text" [readOnly]="true" class="bg-light-grey input-shadow w-100 p-inputtext" name="Course_Name"
              class="form-control" required formControlName="Course_Name" pInputText placeholder="Course name">
            <small class="p-error block"
              *ngIf="addQuizGroup.get('Course_Name')?.invalid && addQuizGroup.get('Course_Name')?.touched">
              Course name is required
            </small>
          </span>
        </div>
        <div class="field mt-2 w-100">
          <label for="title">Level<span class="text-danger fs-5">*</span> :</label>
          <p-dropdown [options]="level" optionLabel="level_name" formControlName="level"
            placeholder="Select level"></p-dropdown>
          <small class="p-error block" *ngIf="addQuizGroup.get('level')?.invalid && addQuizGroup.get('level')?.touched">
            level is required
          </small>
        </div>
        <div class="field mt-2 w-100">
          <label for="title">Question<span class="text-danger fs-5">*</span> :</label>
          <span>
            <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" name="question" class="form-control"
              required formControlName="question" pInputText placeholder="Question">
            <small class="p-error block"
              *ngIf="addQuizGroup.get('question')?.invalid &&  addQuizGroup.get('question')?.touched">
              Question is required
            </small>
          </span>
        </div>
        <div class="d-flex ">
          <div class="field mt-2 my-2 mr-3 w-30">
            <label for="title">Option (A)<span class="text-danger fs-5">*</span></label>
            <span>
              <input type="text" required class="bg-light-grey input-shadow p-inputtext" style="resize: none;"
                formControlName="option1" pInputText>
              <small class="p-error block"
                *ngIf="addQuizGroup.get('option1')?.invalid  && addQuizGroup.get('option1')?.touched">
                Option(A) name is required
              </small>
            </span>
          </div>
          <div class="field mt-2 my-2  w-30">
            <label for="title">Option (B)<span class="text-danger fs-5">*</span></label>
            <span>
              <input type="text" required class="bg-light-grey input-shadow p-inputtext" formControlName="option2"
                pInputText>
              <small class="p-error block"
                *ngIf="addQuizGroup.get('option2')?.invalid  && addQuizGroup.get('option2')?.touched">
                Option(B) is required</small>
            </span>
          </div>
        </div>
        <div class="d-flex ">
          <div class="field mt-2 my-2 mr-3 w-30">
            <label for="title">Option (C)<span class="text-danger fs-5">*</span></label>
            <span>
              <input type="text" required class="bg-light-grey input-shadow w-90 p-inputtext" formControlName="option3"
                pInputText>
              <small class="p-error block"
                *ngIf="addQuizGroup.get('option3')?.invalid  && addQuizGroup.get('option3')?.touched">
                Option(C) is required</small>
            </span>
          </div>
          <div class="field mt-2 my-2 w-30">
            <label for="title">Option (D)<span class="text-danger fs-5">*</span></label>
            <span>
              <input type="text" required class="bg-light-grey input-shadow w-90 p-inputtext" formControlName="option4"
                pInputText>
              <small class="p-error block"
                *ngIf="addQuizGroup.get('option4')?.invalid  && addQuizGroup.get('option4')?.touched">
                Option(D) is required</small>
            </span>
          </div>
        </div>


        <div class="field mt-2 w-100">
          <label for="title">Answer<span class="text-danger fs-5">*</span> :</label>
          <span class="d-flex">
            <div *ngFor="let data of answersArray" class="p-2">
              <label>
                <input type="checkbox" (change)="onChange(data.name,$event.target)">
                {{ data.name }}
              </label>
            </div>
            <small class="p-error block"
              *ngIf="addQuizGroup.get('answer')?.invalid && addQuizGroup.get('answer')?.touched">
              Answer is required
            </small>
          </span>
        </div>

      </div>
      <div class="d-flex justify-content-between mt-2">
        <button (click)="addCancel()" type="button" class="btn btn-dark"><i
            class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
        <button [disabled]="addQuizGroup.invalid" type="button" class="btn btn-success me-2"
          (click)="onSubmitQuestionDetails()"><i class="pi pi-save me-2 cursor-pointer"></i>Save</button>
      </div>
    </form>

  </p-dialog>

  <!-- Add dialog end -->
</div>
<div>
  <p-toast position="top-right"></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
