// .correct {
//   background-color: green;
// }

// .wrong {
//   background-color: rgb(34, 86, 243);
//   // border: ;
// }

// .correct-answer {
//   font-weight: bold;
// }
.quiz_wrapper{
  margin: 2rem;
}
.selected-card {
  border-color: blue;
  font-weight: bold;
}
