<div class="surface-ground surface-ground-wrappers content-inner px-4 p-4">
  <div class="row">
    <div class="mb-3 d-flex align-items-center justify-content-between search_bar_area">
      <h1 class="m-0" style="font-size: 1.5rem"><b> Content</b></h1>


      <div class="col-lg-5 mb-2  d-flex justify-content-end align-items-center">
        <span class="p-input-icon-left w-100">
          <i class="pi pi-search"></i>
          <input type="text" class="w-100" pInputText [(ngModel)]="searchWord" (ngModelChange)="filterCourse()"
            placeholder="Search Course...." />
        </span>
      </div>

      <div class="drop-button">
        <button class="btn btn-primary" (click)="showCourseDialog()">
          Add Course <i class="pi pi-plus cursor-pointer"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5" *ngIf="contentData?.length == 0">
    <div class="card shadow-4 col-lg-3 " style="height: 100px;">
      <div class="card-body text-center d-flex justify-content-center align-items-center">
        <p class="fs-4 lh-sm"> No courses available </p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="contentData.length != 0">
    <div class="col-lg-6 col-xl-3 mb-3" *ngFor="let data of contentData">
      <div class="card" style="max-height: 380px; width: 100%">
        <div [routerLink]="['/admin/content', data.id]">
          <img *ngIf="data.attributes.placeholder_img.data != null"
            style="height: 225px; cursor: pointer; border-radius: 10px 10px 2px 2px"
            [src]='img_url+data.attributes.placeholder_img.data.attributes.formats?.thumbnail?.url' alt="Course Image"
            class="card-img-top" />
          <div *ngIf="data.attributes.placeholder_img.data == null"
            class="card-header d-flex align-items-center justify-content-center" style="height: 225px; cursor: pointer">

            <ng-container *ngIf="data.attributes.technologies">
              <div>
                <div *ngFor="let tech of data.attributes.technologies | keyvalue"
                  class="d-flex flex-column justify-content-center align-items-center p-1">
                  <p class="fs-4 fw-bold">{{ tech.value }}</p>
                </div>
              </div>

            </ng-container>

            <b *ngIf="!data.attributes.technologies"> No preview Image </b>
          </div>
        </div>
        <div class="card-body">
          <div class="row cursor-pointer" [routerLink]="['/admin/content', data.id]">
            <div class="col-lg-12">
              <h3 class="card-title mb-2 textOverflow" style="font-weight: bold">
                {{ data.attributes.name }}
              </h3>
            </div>
          </div>
          <div class="d-flex  justify-content-between align-items-center">
            <div>
              <ng-container *ngIf="convertToNumber(data.attributes.price) != 0 ">
                <button type="button" class="btn" [routerLink]="['/admin/content', data.id]">
                  {{ data.attributes.price | currency : "INR" }}
                </button>
              </ng-container>
              <ng-container *ngIf="convertToNumber(data.attributes.price) ===0">
                <button class="btn btn-primary">Free</button>
              </ng-container>
            </div>
            <div>
              <div class="d-flex justify-content-end edit-buttons">
                <p-button icon="pi pi-pencil" pTooltip="Edit Course" styleClass="p-button-rounded"
                  (click)="editContentDialog(data);popup='edit'"></p-button>
                <p-button icon="pi pi-times" class="ms-1" pTooltip="Delete Course"
                  styleClass="p-button-rounded p-button-danger" (click)="deleteDialog(data)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000"></p-confirmDialog>
</div>

<!-- New Course adding -->
<p-dialog header=" New Course" class="p-dialog-content" [(visible)]="courseDialog" [modal]="true"
  [style]="{'width':'50vw'}">
  <form action="" [formGroup]="addCourse" (ngSubmit)="courseFormSubmit(videoInput, imgInput)">
    <div class="p-fluid grid">
      <div class="field mt-2 w-100">
        <label for="name">Name<span class="text-danger fs-5">*</span> :
        </label>
        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="name" pInputText
            placeholder="Course Name" />
          <small class="p-error block" *ngIf="
              addCourse.get('name')?.invalid && addCourse.get('name')?.touched
            ">
            <ng-container *ngIf="addCourse.get('name')?.errors?.['required']">Course name is required.</ng-container>
            <ng-container *ngIf="addCourse.get('name')?.errors?.['pattern']">Numbers or special characters are not
              allowed.</ng-container>
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="description">Description :</label>
        <span class="p-float-label">
          <textarea rows="5" formControlName="description" pInputTextarea (input)="checkWordCount()"
            [style]="{ width: '100%' }" placeholder="Enter description" [readOnly]="remainingWords == 0"></textarea>
          <div class="d-flex justify-content-end">
            <p>{{ remainingWords }} Words remaining.</p>
          </div>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="imgage">Thumbnail image (jpeg/png/gif/svg) :</label>
        <span class="p-float-label">
          <input type="file" #imgInput accept="image/*" class="bg-light-grey input-shadow w-100 p-inputtext" pInputText
            (change)="courseFileSelected2($event)" />
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="imgUploadProgress"></p-progressBar>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="Img">
          Content video (mp4/MPEG/WMV/FLV) :
        </label>
        <span class="p-float-label">
          <input type="file" #videoInput accept="video/*" multiple class="bg-light-grey input-shadow w-100 p-inputtext"
            pInputText (change)="courseFileSelect($event)" />
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="videoUploadProgress"></p-progressBar>
        </span>

        <ng-container *ngFor="let desc of courseContentVideo; let i = index">
          <div class="my-2">
            <label for="videoDescription">
              {{ desc.name }} <b>Description</b> :</label>
            <textarea name="desc" id="videoDescription" rows="3" [style]="{ width: '100%' }" class="my-2" pInputText
              placeholder="Enter description for {{ desc.name }}" (blur)="onInputChanged($event, desc)"></textarea>
          </div>
        </ng-container>
      </div>

      <div class="field mt-2 w-100">
        <label for="link">Videos Link :</label>
        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="link" pInputText
            placeholder="Enter video link here." />
        </span>
        <small class="p-error block" *ngIf="
            addCourse.get('link')?.invalid && addCourse.get('link')?.touched
          ">
          Please enter valid http address.
        </small>
      </div>

      <div class="field mt-2 w-100">
        <label for="technology">Technology<span class="text-danger fs-5">*</span> :
        </label>
        <p-multiSelect [options]="Technologies" optionLabel="tech" placeholder="Select Technology"
          formControlName="technology" (onChange)="techSelected($event)"></p-multiSelect>

        <span class="p-float-label">
          <small class="p-error block" *ngIf="
              addCourse.get('technology')?.invalid &&
              addCourse.get('technology')?.touched
            ">
            Technology selection is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="technology">Level<span class="text-danger fs-5">*</span> :
        </label>
        <p-dropdown [options]="levels" optionLabel="level" placeholder="Select Level" formControlName="level"
          (onChange)="levelSelected($event)"></p-dropdown>
        <span class="p-float-label">
          <small class="p-error block" *ngIf=" addCourse.get('level')?.invalid && addCourse.get('level')?.touched">
            Level selection is required.
          </small>
        </span>
      </div>


      <div class="field mt-2 w-100">
        <label for="name">Category<span class="text-danger fs-5">*</span> :
        </label>
        <p-dropdown formControlName="subject" [options]="subjects" optionLabel="tech" placeholder="Select Category"
          (onChange)="subjectSelected($event)"></p-dropdown>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
              addCourse.get('subject')?.invalid &&
              addCourse.get('subject')?.touched
            ">
            Category selection is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="imgage">Course Includes :</label>
        <div class="row">
          <div class="d-flex ms-4">
            <div class="form-check col-lg-6 me-4 checkbox-xl">
              <input (change)="checkboxValue($event, 'Certificate')" value="Certificate" class="form-check-input"
                type="checkbox" />
              <label class="form-check-label ms-2" for="certificate">
                Certificate
              </label>
            </div>
            <div class="form-check col-lg-6 checkbox-xl">
              <input (change)="checkboxValue($event, 'Documents')" value="Documents" class="form-check-input"
                type="checkbox" />
              <label class="form-check-label ms-2" for="documents">
                Documents
              </label>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="showDocuments">
        <div class="field mt-2 w-100">
          <label for="imgage"> Upload Documents (pdf/csv/excel/zip)<span class="text-danger fs-5">*</span> :</label>
          <span class="p-float-label">
            <input type="file" accept=".pdf,.csv,.gif,.xls,.xlsx" class="bg-light-grey input-shadow w-100 p-inputtext"
              pInputText (change)="courseDocSelected($event)" />
          </span>
          <div *ngIf="addCourse.get('documents')?.invalid && addCourse.get('documents')?.touched" class="text-danger">
            Please select a file.
          </div>
        </div>
      </ng-container>

      <div class="field mt-2 w-100">
        <label for="price">Price<span class="text-danger fs-5">*</span> :</label>
        <span class="p-float-label">
          <input type="number" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="price" pInputText
            placeholder="Enter price" />
        </span>
        <span class="p-float-label">
          <small class="p-error block" *ngIf="
              addCourse.get('price')?.invalid &&
              addCourse.get('price')?.touched
            ">
            Price is required.
          </small>
        </span>
      </div>

    </div>
    <div class="d-flex justify-content-between ">
      <button class="btn btn-secondary" type="reset" (click)="closeCourseDialog()">
        Cancel
      </button>
      <button class="btn btn-success" type="submit">
        Submit
      </button>
    </div>
  </form>
</p-dialog>
<div>
  <p-toast> </p-toast>
</div>

<!-- Update Content Form  -->

<app-edit-form *ngIf="popup=='edit'" [popupClick]="popup" (getcontent)="getContent()"
  [edituserLearnings]="editUserLearnings"></app-edit-form>
