<div class="surface-ground surface-ground-wrappers content-inner px-4 p-4">
  <div class="row">
    <div class="col-lg-6 d-flex align-items-center">
      <h2 class="text-black">
        Content
      </h2>
      <div class="ms-2">
        <input type="search" class="form-control w-100" [style]="{'height':'40px'}" [(ngModel)]="searchWord"
          placeholder="Search Course...." (ngModelChange)="filterCourse()" style="line-height: 2;">

      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-end align-items-center">
      <div class="drop-button">
        <button class="btn btn-primary mb-2" (click)="showCourseDialog()"> Add Course <i
            class="pi pi-plus ms-2 cursor-pointer"></i></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3  mb-3" *ngFor="let data of contentData">
      <div class="card" style="max-height: 380px; width: 100%;">
        <img [routerLink]="['/admin/content',data.id]" style="height: 230px;cursor: pointer;"
          src="{{data.attributes.placeholder_img.data.attributes.formats?.thumbnail?.url}}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <div class="row cursor-pointer" [routerLink]="['/admin/content',data.id]">
            <div class="col-lg-6">
              <h3 class="card-title mb-2 textOverflow" style="font-weight: bold;">{{data.attributes.name}}</h3>
            </div>

          </div>
          <!-- <p [routerLink]="['/admin/content',data.id]" class="card-text cursor-pointer textOverflow">
            {{data.attributes.description}}.</p> -->
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <span class="d-flex align-items-center" [routerLink]="['/admin/content',data.id]">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon><span
                  class="ms-1">14</span>
              </span>
            </div>
            <div>
              <button type="button" class="btn" [routerLink]="['/admin/content',data.id]">
                {{data.attributes.price | currency : 'INR'}}</button>
            </div>
            <div>
              <div class="d-flex justify-content-end edit-buttons">
                <p-button icon="pi pi-pencil" pTooltip="Edit Course" styleClass="p-button-rounded"
                  (click)="editContentDialog(data)"></p-button>
                <!-- <button pButton pRipple type="button" pTooltip="Edit Course" icon="pi pi-pencil"
                  class="p-button-rounded p-button-outlined" (click)="editContentDialog(data)"
                  style="height: 30px; width: 30px;"></button> -->
                <p-button icon="pi pi-times" class="ms-1" pTooltip="Delete Course"
                  styleClass="p-button-rounded p-button-danger" (click)="deleteDialog(data)"></p-button>
                <!-- <button pButton pRipple type="button" pTooltip="Delete Course" icon="pi pi-times"
                  class="p-button-rounded ms-1 p-button-danger p-button-outlined" style="height: 30px; width: 30px;"
                  (click)="deleteDialog(data)"></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>

<!-- New Course adding -->
<p-dialog header="Add New Course" [(visible)]="courseDialog" [modal]="true" [style]="{'width':'50vw'}">
  <form action="" [formGroup]="addCourse" (ngSubmit)="courseFormSubmit(videoInput, imgInput)">
    <div class="p-fluid grid">
      <div class="field mt-2 w-100">
        <label for="name">Name :<span class="text-danger fs-5"> * </span> </label>

        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="name" pInputText
            placeholder="Course Name">
          <small class="p-error block" *ngIf="addCourse.get('name')?.invalid && addCourse.get('name')?.touched">
            Course name is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="description">Description :</label>
        <span class="p-float-label">

          <textarea rows="5" formControlName="description" pInputTextarea (input)="checkWordCount()"
            [style]="{'width':'100%'}" placeholder="Enter description" [readOnly]="remainingWords == 0"></textarea>
          <div class="d-flex justify-content-end">
            <p>{{ remainingWords }} Words remaining</p>
          </div>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="Img"> Content video (mp4) : <span class="text-danger fs-5"> * </span> </label>
        <span class="p-float-label">
          <input type="file" #videoInput accept="video/*" multiple class="bg-light-grey input-shadow w-100 p-inputtext"
            pInputText (change)="courseFileSelect($event)">
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="videoUploadProgress"></p-progressBar>

        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="imgage"> Image :</label>
        <span class="p-float-label">
          <input type="file" #imgInput accept="image/*" class="bg-light-grey input-shadow w-100 p-inputtext" pInputText
            (change)="courseFileSelected2($event)">
          <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="imgUploadProgress"></p-progressBar>

        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="technology">Technology : <span class="text-danger fs-5"> * </span> </label>
        <p-dropdown [options]="Technologies" optionLabel="tech" placeholder="Select Technology"
          formControlName="technology" (onChange)="techSelected($event)"></p-dropdown>
        <span class="p-float-label">

          <small class="p-error block"
            *ngIf="addCourse.get('technology')?.invalid && addCourse.get('technology')?.touched">
            Technology name is required.
          </small>
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="price">Price :</label>
        <span class="p-float-label">
          <input type="number" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="price" pInputText
            placeholder="Enter price">
        </span>
      </div>

      <div class="field mt-2 w-100">
        <label for="link">Link :</label>
        <span class="p-float-label">
          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="link" pInputText
            placeholder="Enter link here.">
        </span>
        <small class="p-error block" *ngIf="addCourse.get('link')?.invalid && addCourse.get('link')?.touched">
          Please enter valid http address.
        </small>
      </div>

    </div>
    <div class=" d-flex justify-content-between">
      <button class="btn btn-secondary" type="reset" (click)="closeCourseDialog()">Cancel</button>
      <button class="btn btn-success" type="submit" [disabled]="addCourse.invalid">Submit</button>
    </div>
  </form>

</p-dialog>
<div>
  <p-toast> </p-toast>
</div>



<!-- Update Content Form -->
<div class=" container surface-ground-wrappers">
  <div class="d-flex justify-content-end">

    <p-dialog header="Update Course" [(visible)]="editDisply" [style]="{width: '40vw'}" styleClass="active"
      [modal]="true">
      <hr>
      <form [formGroup]="courseUpdateGroup">
        <div class="p-fluid grid">
          <div class="field mt-2 w-100">
            <label for="name"> Name :<span class="text-danger fs-5"> * </span> </label>
            <span class="p-float-label">
              <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="name" pInputText
                placeholder="Course Name">
              <small class="p-error block"
                *ngIf="courseUpdateGroup.get('name')?.invalid && courseUpdateGroup.get('name')?.touched">
                Course name is required.
              </small>
            </span>
          </div>
          <div class="field mt-2 w-100">
            <label for="description">Description :</label>
            <span class="p-float-label">

              <textarea rows="5" formControlName="description" pInputTextarea (input)="checkWordCount()"
                [style]="{'width':'100%'}" placeholder="Enter description" [readOnly]="remainingWords == 0"></textarea>
              <div class="d-flex justify-content-end">
                <p>{{ remainingWords }} Words remaining</p>
              </div>
            </span>
          </div>

          <div class="field mt-2 w-100">
            <label for="Img"> Content Video (mp4) : <span class="text-danger fs-5"> * </span> </label>
            <span class="p-float-label">
              <input type="file" accept="video/*" multiple class="bg-light-grey input-shadow w-100 p-inputtext"
                pInputText (change)="courseFileSelect($event)">
              <p-progressBar mode="indeterminate" [style]="{ height: '4px' }"
                *ngIf="videoUploadProgress"></p-progressBar>

            </span>
          </div>

          <div class="field mt-2 w-100">
            <label for="imgage"> Image :</label>
            <span class="p-float-label">
              <input type="file" accept="image/*" class="bg-light-grey input-shadow w-100 p-inputtext" pInputText
                (change)="courseFileSelected2($event)">
              <p-progressBar mode="indeterminate" [style]="{ height: '4px' }" *ngIf="imgUploadProgress"></p-progressBar>

            </span>
          </div>

          <div class="field mt-2 w-100">
            <label for="name">Technology : <span class="text-danger fs-5"> * </span> </label>
            <p-dropdown formControlName="technology" [options]="Technologies" optionLabel="tech"
              placeholder="Select Technology" (onChange)="techSelected($event)"></p-dropdown>
            <span class="p-float-label">

              <small class="p-error block"
                *ngIf="courseUpdateGroup.get('technology')?.invalid && courseUpdateGroup.get('technology')?.touched">
                Technology name is required.
              </small>
            </span>
          </div>

          <div class="field mt-2 w-100">
            <label for="price">Price :</label>
            <span class="p-float-label">
              <input type="number" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="price"
                pInputText placeholder="Enter price">
            </span>
          </div>


          <div class="field mt-2 w-100">
            <label for="link">Link :</label>
            <span class="p-float-label">
              <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="link" pInputText
                placeholder="Enter link here.">
            </span>
            <small class="p-error block"
              *ngIf="courseUpdateGroup.get('link')?.invalid && courseUpdateGroup.get('link')?.touched">
              Please enter valid http address.
            </small>
          </div>

        </div>
        <div class="d-flex justify-content-end mt-2">
          <button type="button" class="btn btn-success me-2" (click)="onUpdateContent()"><i
              class="pi pi-save me-2 cursor-pointer"></i>Update</button>
          <button type="button" class="btn btn-dark" (click)="closeEditDialog()"><i
              class="pi pi-delete-left me-2 cursor-pointer">
            </i>Cancel</button>
        </div>
      </form>
    </p-dialog>
  </div>
  <p-toast position="top-right"></p-toast>
  <app-spinner *ngIf="loadingSpinner==true"></app-spinner>
</div>
