.profileImg {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

@media (min-width: 992px) and (max-width: 1360px) {
  .user_transaction_table {
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 767px) {
  .content-inner {
    padding: 15px 15px !important;
  }

}
