  <nav class="navbar bg-blue border">

      <ul class=" d-flex">
          <li class="nav-item"><a><h1><b>LMS</b></h1></a></li>
          <li class="nav-item"><h4>Categories</h4></li>
          <li class="nav-item"><span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search" />
        </span></li>
        <li class="nav-item"><h4>LMS Business</h4></li>
          <li class="nav-item"><h4>Teach on LMS</h4></li>

          <div class="d-flex">
            <li class="nav-buttons"><i class="pi pi-shopping-cart pt-1 "></i></li>
          <li class="nav-buttons"><button class="pt-1">login</button></li>
          <li class="nav-buttons"><button class="pt-1 bg-black">SignUp</button></li>
          <li class="nav-buttons"><button><i class="pi pi-globe pt-1"></i></button></li>
        </div>

      </ul>
  </nav>

