.ratingStar {
  ngb-rating {
    margin-right: 1px;
  }
}
.QAprofilePic {
  height: 35px;
  width: 35px;
  border-radius: 80%;
}
 :ng-deep p-rating {
  color: gold !important;
}
@media only screen and (max-width: 760px) {
  video.course_video {
    width: 100%;
}
textarea.mb-4 {
  width: 100% !important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  video.course_video {
    width: 100%;
}
}