<ng-container *ngIf="roleName?.toLowerCase() === 'technology'">
  <div class="surface-ground px-4 py-3">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 d-flex align-items-center">
        <h1 style="font-size: 1.5rem;"><b> Technology</b> </h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end align-items-center">
        <button class="mb-2 btn btn-primary" (click)="addTech()">Add Technology</button>
      </div>
    </div>
    <p-table [value]="techData" class="table table-hover" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 15,20]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="attributes.technologies.tech" style="width:20%">Technology <p-sortIcon
              field="tech"></p-sortIcon></th>
          <th style="width:20%">Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.attributes.technologies.tech}}</td>
          <td>
            <div class="d-flex align-items-center">
              <span class="material-icons text-primary cursor-pointer "
                (click)="editTech(product.id,product.attributes.technologies.tech)">
                edit
              </span>
              <span class="material-icons text-danger cursor-pointer ms-3" (click)="deleteTech(product)">
                delete
              </span>
            </div>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>

</ng-container>

<ng-container *ngIf="roleName?.toLowerCase() === 'category'">
  <div class="surface-ground px-4 py-3">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
        <h1 style="font-size: 1.5rem;"><b> Category</b> </h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end align-items-center">
        <button class="mb-2 btn btn-primary" (click)="addCat()">Add Category</button>
      </div>
    </div>
    <p-table [value]="categoryData" class="table" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 15,20]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="attributes.categories.tech" style="width:20%">Category <p-sortIcon
              field="category"></p-sortIcon></th>
          <th style="width:20%">Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>

        <tr>
          <td>{{product.attributes.categories.tech}}</td>
          <td>
            <div class="d-flex align-items-center">
              <span class="material-icons text-primary cursor-pointer "
                (click)="editCategory(product.id,product.attributes.categories.tech)">
                edit
              </span>
              <span class="material-icons text-danger cursor-pointer ms-3" (click)="deleteCat(product)">
                delete
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>

<div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

</div>

<p-dialog header="Add {{headerName}}" [visible]="showPopup" [modal]="true" [style]="{'width':'40vw'}">
  <form [formGroup]="techForm" (ngSubmit)="techSubmit()">
    <div class="mb-2">
      <label for="tech" class="mb-2">{{headerName}}  </label>
      <input pInputText id="tech" type="text" formControlName="tech" class="p-inputtext-md form-control mt-1"
        placeholder='Enter {{headerName | lowercase}} name ' />
        <small class="p-error block" *ngIf="
        techForm.get('tech')?.invalid && techForm.get('tech')?.touched
      ">
      <ng-container *ngIf="techForm.get('tech')?.errors?.['required']">Category name is required.</ng-container>
      <ng-container *ngIf="techForm.get('tech')?.errors?.['pattern']">Numbers or special characters are not
        allowed.</ng-container>
    </small>

    </div>
    <div class="d-flex justify-content-end ">
      <button class="btn btn-secondary btn-sm" type="reset" (click)="cancelForm()"> Cancel </button>
      <button class="btn btn-success btn-sm" type="submit" >Submit</button>
    </div>
  </form>
</p-dialog>
