<div class="d-flex">
  <div [ngClass]="{' small-sidebar': step === 1, ' large-sidebar' : step === 2 }" class="sidebar float-left">
    <div class="sidebar-header">
      <span class="d-flex align-items-center ml-2 " style="color:#0d6efd;">
        <i class="pi pi-bolt" style="font-size: 2rem"></i>
        <span class="site-name" style="font-size: 24px;"> LMS</span>
      </span>
      <i class="pi pi-times cursor-pointer site-name close-menu" style="font-size: 20px" (click)="step=1"></i>
    </div>
    <div class="sidebar-content">
      <div class="list-wrapper">
        <ul class="listbox-list">
          <li class="listbox-item" (click)="step=2" *ngIf="step==1">
            <i class="pi pi-bars site-name1 me-2" style="font-size: 20px"></i> <span> </span>
          </li>
          <li class="listbox-item" [class.active]="isActive('/admin')" routerLink="/admin">
            <i class="pi pi-chart-line me-2"></i> <span> Dashboard</span>
          </li>
          <li class="listbox-item" routerLink="/admin/content" [class.active]="isActive('/admin/content')">
            <i class="pi pi-file-edit me-2"></i> <span>Courses</span>
          </li>
          <li class="listbox-item" [class.active]="isActive('/admin/quiz')" routerLink="/admin/quiz">
            <i class="pi pi-stopwatch me-2"></i> <span>Assessments</span>
          </li>
          <li class="listbox-item" [class.active]="isActive('/admin/trackuser')" routerLink="/admin/trackuser">
            <i class="pi pi-user me-2"></i><span>Users</span>
          </li>
          <li class="listbox-item" [class.active]="isActive('/admin/technology')" (click)="showTechCat = !showTechCat">
            <div class="d-flex align-items-center">
              <i class="pi pi-database me-2"></i><span>Tech <i class="pi pi-angle-right"
                  *ngIf="showTechCat == false"></i><i class="pi pi-angle-down" *ngIf="showTechCat == true"></i> </span>
            </div>
          </li>
          <div class="ms-3" *ngIf="showTechCat">
            <h3 [routerLink]="['/admin/technology','Technology']" class="cursor-pointer techee"
              (click)="showTechCat = !showTechCat">Technology</h3>
            <h3 [routerLink]="['/admin/technology','Category']" class="cursor-pointer techee"
              (click)="showTechCat = !showTechCat">Category</h3>
          </div>
          <hr class="mt-4 mb-2">
        </ul>
      </div>
    </div>
    <div class="sidebar-footer cursor-pointer" style="overflow-y: auto;">
      <li class="listbox-item" routerLink="/admin/profile">
        <i class="pi pi-user me-2"></i> <span>Profile</span>
      </li>
      <li class="listbox-item" (click)="onLogout()">
        <i class="pi pi-sign-out me-2"></i> <span>Logout</span>
      </li>
    </div>
  </div>
  <div class="content-inner">
    <div class="header float-left d-flex align-items-center justify-content-between">
      <div>
        <div class="search-bar d-flex align-items-center ps-3" style="width: 40%;">
          <button type="button" class="menu-button" (click)="visibleSidebar1 = true"> <i
              class="pi pi-bars"></i></button>
        </div>
      </div>
      <div class="me-3">
        <p-avatar shape="circle" size="medium" class="cursor-pointer me-2" (click)="menu.toggle($event)"
          icon="pi pi-user" [style]="{'background-color':'#ffff','border':'0.5px solid', 'color': '#000'}"></p-avatar>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- sidebar for mobile screen -->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <ng-template pTemplate="header">
    <span class="d-flex align-items-center" style="color:#0d6efd;">
      <i class="pi pi-bolt" style="font-size: 2rem"></i>
      <span style="font-size: 24px;"> LMS</span>
    </span>
  </ng-template>
  <ng-template pTemplate="content">
    <li class="listbox-item" [class.active]="isActive('/admin')" routerLink="/admin">
      <i class="pi pi-chart-line me-2"></i> <span> Dashboard</span>
    </li>
    <li class="listbox-item" routerLink="/admin/content" [class.active]="isActive('/admin/content')">
      <i class="pi pi-file-edit me-2"></i> <span>Courses</span>
    </li>
    <li class="listbox-item" [class.active]="isActive('/admin/quiz')" routerLink="/admin/quiz">
      <i class="pi pi-stopwatch me-2"></i> <span>Assessments</span>
    </li>
    <li class="listbox-item" [class.active]="isActive('/admin/trackuser')" routerLink="/admin/trackuser">
      <i class="pi pi-user me-2"></i><span>Users</span>
    </li>
    <li class="listbox-item" [class.active]="isActive('/admin/technology')" (click)="showTechCat = !showTechCat">
      <div class="d-flex align-items-center">
        <i class="pi pi-database me-2"></i><span>Tech <i class="pi pi-angle-right" *ngIf="showTechCat == false"></i><i
            class="pi pi-angle-down" *ngIf="showTechCat == true"></i> </span>
      </div>
    </li>
    <div class="ms-3" *ngIf="showTechCat">
      <h3 [routerLink]="['/admin/technology','Technology']" class="cursor-pointer techee"
        (click)="showTechCat = !showTechCat">Technology</h3>
      <h3 [routerLink]="['/admin/technology','Category']" class="cursor-pointer techee"
        (click)="showTechCat = !showTechCat">Category</h3>
    </div>

  </ng-template>
  <ng-template pTemplate="footer">
    <li class="listbox-item" (click)="onLogout()">
      <span><i class="pi pi-sign-out me-2"></i>Logout</span>
    </li>
  </ng-template>
</p-sidebar>
