<div class="content-inner surface-ground px-3 py-3">
  <div class="container-fluid">
    <h1 style="font-size: 1.5rem"><b>Profile & Settings</b></h1>
  </div>
  <div class="container-fluid">
    <div class="profile-second-section">
      <div class="row">
        <div class="col-lg-12">
          <p-tabView>
            <p-tabPanel header="Profile">
              <form [formGroup]="userProfileForm" (ngSubmit)="onUserProfileSubmit()">
                <div class="card m-2 ">
                  <div class="row my-3">
                    <div class="col-lg-5 form-area col-sm-12">
                      <div class="p-field px-2 mb-3">
                        <label for="username" class="mb-2">Username : </label>
                        <input formControlName="username" type="text" class="w-100" placeholder="enter User Name"
                          pInputText />
                      </div>
                      <div class="p-field px-2 mb-3">
                        <label for="firstname1" class="mb-2">Firstname :</label>
                        <input id="firstname1" name="firstname" formControlName="firstname" type="text" class="w-100"
                          pInputText placeholder="Enter your Firstname" />
                        <div
                          *ngIf=" (userProfileForm.get('firstname')?.invalid && userProfileForm.get('firstname')?.touched)"
                          class="text-danger">
                          Firstname is required.
                        </div>
                        <div *ngIf="userProfileForm.get('firstname')?.errors?.['pattern']" class="text-danger">Numbers
                          or
                          Special Characters is not allowed here.
                        </div>
                      </div>
                      <div class="p-field my-2 px-2">
                        <label for="lastname1" class="mb-2">Lastname : </label>
                        <input id="lastname1" class="w-100" name="lastname" formControlName="lastname" type="text"
                          pInputText placeholder="Enter your Lastname" />
                        <div
                          *ngIf=" (userProfileForm.get('lastname')?.invalid && userProfileForm.get('lastname')?.touched )"
                          class="text-danger">
                          Lastname is required.
                        </div>
                        <div *ngIf="userProfileForm.get('lastname')?.errors?.['pattern']" class="text-danger">Numbers or
                          Special Characters is not allowed here.
                        </div>
                      </div>
                      <div class="p-field my-2 px-2">
                        <label for="email" class="mb-2">Email :</label>
                        <input id="email" class="w-100" name="email" [value]="userLoginEmail" [disabled]="true"
                          type="email" pInputText />
                      </div>
                    </div>
                    <div class="col-lg-1 divider">
                      <p-divider layout="vertical"></p-divider>
                    </div>
                    <div class="  col-lg-5 col-sm-12 ms-2" >
                      <div class="field mt-2 w-100 ">
                        <label for="phoneNumber">Mobile :<span class="text-danger fs-5">*</span></label>
                        <span class="p-float-label">
                          <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="mobileno" pInputText minlength="10" maxlength="10"
                            placeholder="Enter Phone Number">
                          <small class="p-error block"
                            *ngIf="userProfileForm.get('mobileno')?.invalid && userProfileForm.get('mobileno')?.touched">
                            <ng-container *ngIf="userProfileForm.get('mobileno')?.errors?.['required']">Phone number is
                              required.</ng-container>
                            <ng-container *ngIf="userProfileForm.get('mobileno')?.errors?.['pattern']">Please enter 10
                              digits only.</ng-container>
                          </small>
                        </span>
                      </div>
                      <div class="field mt-2 w-100">
                        <label for="description">Biography :</label>
                        <p-editor [style]="{ width: '100%', height: '80px' }" name="biography"
                          formControlName="biography" (input)="checkWordCount()">
                          <ng-template pTemplate="header">
                            <span class="ql-formats">
                              <button type="button" class="ql-bold" aria-label="Bold"></button>
                              <button type="button" class="ql-italic" aria-label="Italic"></button>
                            </span>
                          </ng-template>
                        </p-editor>
                        <p class="fs-6 lead" [style]="{ width: '100%', 'text-align': 'justify' }">
                          <small>
                            To help learners learn more about you,your bio should
                            reflect your Credibility,Empathy,Passion and
                            Persionality.Your Biography should have at least 50
                            words,links and coupon codes are not permitted.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
