.progress-spinner {
  margin: auto;
  width: 50%;
  // padding: auto;
}
.sizes {
  .p-inputtext {
    display: block;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
ul{
  margin-left: -150px;
}
li{
  font-size: large;

  button{
    width:fit-content;
 margin-left: -10px;
 background-color: white;
 border: white;
  }

}
p-tieredMenu{
  position: absolute;
  margin-left: 400px;
  margin-top: 180px;
}



.p-field * {
  display: block;
}
input {
  width: 35%;
  border-radius: 30px;
}
.courses{
  margin-left: 20px;
}
.fluid-container{
  background-image:url(../../assets/img/user1.jpg);
  height: 400px;
  width: 100%;
  justify-content: flex-start;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  min-height: 2vh;
  max-height: 21vh;
  width: 70vh;
  justify-content: flex-start;

  h1 {
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   }
  h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

}
.custom-star{
  color: gold;
}

.courseDetails {
  box-sizing:content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
  height: fit-content;
}
p-card{
  width:260px;
  height:350px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

button {
  width: 85px;
  height:fit-content;
  margin-left: 50px;
}

.courseContent{
  margin-left: 10px;
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}
ngb-rating{
  margin-bottom: 10px;
  font-size: 40px;
  color:gray
}
a{
  cursor: pointer;
}
.defaultStar{
  position:relative;
  display: inline-block;

}
.paintStar{
  position:absolute;
  display: inline-block;
  color:gold;
  overflow: hidden;
}
.learningBox{
margin-left: 6%;
margin-top: 8%;
}
