<!-- <h1 class="text-center mt-3">Welcome Admin</h1> -->

<app-user-header></app-user-header>

<div class="fluid-container">
  <div
    class="fluid-container text-center bg-blue border my-0 justify-content-center d-flex align-items-center"
  >
    <img src="../../assets/img/user1.jpg" alt="image" width="100%" />
  </div>
  <div class="container text-center bg-blue border">
    <h1><b>Learning never exhausts the mind</b></h1>
    <h3>Skills for your present (and your future). Get started with us.</h3>
  </div>
</div>
<div class="fluid-container courses">
  <div>
    <h2><b>Courses to get you started</b></h2>
  </div>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" fitInkBarToContent>
  <mat-tab label="Most Popular">

    <div>
      <div class="courseDetails bg-blue border my-4 d-flex">
        <div class="card" *ngFor="let course of courseList">
          <div class="courseImage">
            <img
              alt="Card"
              src="{{ course.courseImage }}"
              style="width: 260px; height: 150px; border-radius: 10px 10px 2px 2px"
            />
          </div>
          <div class="courseContent mt-1">
            <h4>
              <b>{{ course.courseTitle }}</b>
            </h4>
            <p>{{ course.author }}</p>
            <div class="rating d-flex">
              <p-rating
                [ngModel]="course.rating"
                [readonly]="true"
                [cancel]="false"
                class="fa fa-star"></p-rating>
                <!-- <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating> -->

              <p>({{ course.rating }})</p>
            </div>
            <div class="buttons d-flex mt-1">
              <h3>
                <p>{{ course.price | currency : "INR" }}</p>
              </h3>
              <button class="btn btn-warning">BuyNow</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>


  <mat-tab label="Trending">
    <div>
      <div class="courseDetails bg-blue border my-4 d-flex">
        <div class="card" *ngFor="let course of courseList">
          <div class="courseImage">
            <img
              alt="Card"
              src="{{ course.courseImage }}"
              style="width: 260px; height: 150px; border-radius: 10px 10px 2px 2px"
            />
          </div>
          <div class="courseContent mt-1">
            <h4>
              <b>{{ course.courseTitle }}</b>
            </h4>
            <p>{{ course.author }}</p>
            <div class="rating d-flex">
              <p-rating
                [ngModel]="course.rating"
                [readonly]="true"
                [cancel]="false"
                class="fa fa-star"
              >
                {{ course.rating }}</p-rating
              >

              <p>({{ course.rating }})</p>
            </div>
            <div class="buttons d-flex mt-1">
              <h3>
                <p>{{ course.price | currency : "INR" }}</p>
              </h3>
              <button class="btn btn-warning">BuyNow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>

<app-user-footer></app-user-footer>
