<!-- footer -->
<footer class="bg-dark">
  <div class="footer">
    <div class="container-fluid">
      <div class="row  ">
        <div class="col-lg-12">
          <div class="text-white mt-3">
            <div class="d-flex justify-content-end align-items-center">
              <div>
                <h3 class="mx-2">Follow us</h3>
              </div>
              <div class="d-flex mt-2">
                <h3><i class="pi pi-linkedin fs-3 mr-4"></i></h3>
                <h3><i class="pi pi-facebook fs-3 mr-4"></i></h3>
                <h3><i class="pi pi-twitter fs-3 mr-4"></i></h3>
                <h3><i class="pi pi-instagram fs-3 mr-4"></i></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="row mt-3">
        <div class="col-lg-9">
          <div class="ml-2 text-white d-flex justify-content-between">
            <li>
              <a class="link white-link"><span>Lms Business</span></a>
            </li>
            <li>
              <a class="link white-link"><span>Teach on Lms</span></a>
            </li>
            <li>
              <a target="_blank" class="link white-link"
                ><span>Get the app</span></a
              >
            </li>
            <li>
              <a class="link white-link"><span>About us</span></a>
            </li>
          </div>

          <div class="ml-2 text-white d-flex justify-content-between">
            <li>
              <a class="link white-link"><span>Contact us</span></a>
            </li>
            <li>
              <a class="link white-link"><span>Careers</span></a>
            </li>
            <li>
              <a target="_blank" class="link white-link"><span>Help</span></a>
            </li>
            <li>
              <a class="link white-link"><span>Privacy and policy</span></a>
            </li>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 foooter-lang d-flex justify-content-end">
          <div class="">
            <div class="footer-lang-btn">
              <a><i class="pi pi-globe p-2"></i>English</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-2 mt-5">
        <div class="col-lg-6">
          <div class="justify-content-start">
            <h1><a class="text-decoration-none text-white" href="">LMS</a></h1>
          </div>
        </div>

        <div class="col-lg-6 position-relative">
          <div class="position-absolute top-0 end-0">
            <p class="text-white mr-5">Copyright @2023 LMS,Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- footer -->
