<div class="content-inner surface-ground px-4 py-3">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 d-flex align-items-center">
      <h1 style="font-size: 1.5rem;"><b> Overview</b> </h1>

    </div>
    <div class="col-lg-6 col-md-6 d-flex justify-content-end align-items-center">
      <div class="drop-button">
        <p-dropdown [options]="schedule"> </p-dropdown>
      </div>
    </div>
  </div>
  <div class="row mt-1">

    <div class="col-lg-2 mb-1 col-md-2 md:col-2 lg:col-2">
      <div class="surface-card card_wrapper_boxes shadow-2 p-2 border-round cursor-pointer" routerLink="/trackuser">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"> Total Users</span>
            <div class="text-900 font-medium text-xl"> {{totalUser}} </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-users text-cyan-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mb-1 col-md-2 md:col-2 lg:col-2">
      <div class="surface-card card_wrapper_boxes shadow-2 p-2 border-round cursor-pointer" routerLink="/content">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Free Courses</span>
            <div class="text-900 font-medium text-xl"> {{freeCourseCount}} </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-book text-purple-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mb-1 col-md-2 md:col-2 lg:col-2">
      <div class="surface-card card_wrapper_boxes shadow-2 p-2 border-round cursor-pointer" routerLink="/content">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Paid Courses</span>
            <div class="text-900 font-medium text-xl"> {{paidCourseCount}} </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-book text-purple-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mb-1 col-md-2 md:col-2 lg:col-2">
      <div class="surface-card card_wrapper_boxes shadow-2 p-2 border-round cursor-pointer" routerLink="/content">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Assessments</span>
            <div class="text-900 font-medium text-xl"> {{assessmentCount}} </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-book text-purple-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mb-1 col-md-2 md:col-2 lg:col-2">
      <div class="surface-card card_wrapper_boxes shadow-2 p-2 border-round cursor-pointer" routerLink="/content">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Purchases</span>
            <div class="text-900 font-medium text-xl"> {{purchaseCount}} </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-money-bill text-purple-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 px-2">
        <div class="card">
          <div class="ms-3 mt-3">
            <b class="fs-5">Users list </b>
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Data here</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 px-2">
        <div class="card">
          <div class="ms-3 mt-3">
            <b class="fs-5">Watch history </b>
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Data here </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="ms-3 mt-3">
        <b class="fs-5">Top 5 Courses </b>
      </div>
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Data here.</p>

      </div>
    </div>





  <!-- <div class="row mt-3">
    <div class="col-lg-6 col-md-12 ">
      <div class="row mb-3">
        <div class="col-lg-6 col-md-6 d-flex align-items-center">
          <h2 class="m-0">
            Overview
          </h2>
        </div>
        <div class="col-lg-6 col-md-6 d-flex justify-content-end align-items-center">
          <div class="drop-button">
            <p-dropdown [options]="schedule"> </p-dropdown>
          </div>
        </div>
      </div>
      <div class="card">
        <p-chart type="line" [data]="basicData" [style]="{'height':'auto'}"></p-chart>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="row mb-3">
        <div class="col-lg-12 col-md-12 d-flex align-items-center">
          <h2 class=" m-0">
            Upcoming Classes
          </h2>
        </div>
      </div>
      <div class="card" style="height: 300px; overflow-y: auto;">
        <div class="class-content  mb-2 d-flex justify-content-between">
          <div>
            <span>List Of UX 2nd Sem</span>
            <h2 class=" m-0 pb-1">
              Upcoming Classes
            </h2>
            <span>9.00 AM To 12.00 PM </span>
          </div>
          <div>
            <i class="pi pi-ellipsis-h" style="font-size: 2rem"></i>
          </div>

        </div>
        <div class="class-content-one mb-2 d-flex justify-content-between">
          <div>
            <span>List Of UX 2nd Sem</span>
            <h2 class=" m-0 pb-1">
              Upcoming Classes
            </h2>
            <span>9.00 AM To 12.00 PM </span>
          </div>
          <div>
            <i class="pi pi-ellipsis-h" style="font-size: 2rem"></i>
          </div>

        </div>
        <div class="class-content-two d-flex justify-content-between">
          <div>
            <span>List Of UX 2nd Sem</span>
            <h2 class=" m-0 pb-1">
              Upcoming Classes
            </h2>
            <span>9.00 AM To 12.00 PM </span>
          </div>
          <div>
            <i class="pi pi-ellipsis-h" style="font-size: 2rem"></i>
          </div>

        </div>
      </div>
    </div>
  </div> -->
</div>
