span.meeting-tag {
    background: #EAEDF2;
    padding: 8px;
    border-radius: 5px;
}
.meeting-summery  {
    padding: 10px;
    border-bottom: 1px solid #F1F0F2;
    h3{
        color: #42474B !important;
    }
}
@media only screen and (max-width: 760px) {
    .meeting-summery  {
       display: block !important;
       .auth-details{
        padding: 5px 0px;
       }
       .meeting-tag-div{
        margin: 10px 0px;
    }
    }
}