span.meeting-tag {
    background: #EAEDF2;
    padding: 8px;
    border-radius: 5px;
}
.meeting-summery  {
    padding: 10px;
    border-bottom: 1px solid #F1F0F2;
    h3{
        color: #42474B !important;
    }
}