
  <div class="cart_wrapper" *ngIf="courseData.length == 0">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center pt-5">
      <img src="../../../assets/img/myCart.PNG" class="add_course_img" alt="" />
      <div class="mt-4">
        <button class="btn btn-primary btn-md m-4" routerLink="">
          Add Course
        </button>
      </div>
    </div>
    </div>
    <div class="container-fluid px-4 py-4" *ngIf="courseData.length != 0">
      <h1 class="fw-bold" style="font-size: 1.5rem;">
        Shoping Cart
      </h1>
      <h4>{{ courseData.length }} Courses in Cart</h4>
      <div class="row shadow-4 py-2">
        <div class="col-lg-9">
          <div class="row" *ngFor="let course of courseData">
            <p-divider></p-divider>
            <ng-container *ngIf="course.course_ids.length != 0">
              <div class="col-lg-3">
                <ng-container  *ngIf="course.course_ids[0].placeholder_img != null">

                    <div>
                      <img [src]='img_url + course.course_ids[0].placeholder_img.formats.thumbnail.url' alt=""
                        class="courseFigure" width="180px" height="150px" (click)="onClick(course.course_ids[0])">
                    </div>

                </ng-container>
                <ng-container *ngIf="course.course_ids[0].placeholder_img == null">
                  <div   (click)="onClick(course.course_ids[0])" class="card cursor-pointer border-primary d-flex justify-content-center align-items-center"
                    [style]="{'height':'150px','width':'180px','border-radius':'30px'}">
                    <p class="fs-3 fw-bold"> {{course.course_ids[0].technologies['1']}} </p>
                  </div>

                </ng-container>

              </div>
              <div class="col-lg-5">
                <h3 class="fs-5">
                  <b>{{ course.course_ids[0].name }}</b>
                </h3>
                <h4 class="textOverflow">
                  {{ course.course_ids[0].description }}
                </h4>
                <div class="d-flex">
                  <div *ngIf="course.course_ids[0]?.no_of_purchases >= 3">
                    <button class="btn btn-outline-success btn-sm">
                      Best Seller
                    </button>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex">
                      <p-rating [(ngModel)]="course?.course_ids[0].rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>

                  </div>
                </div>
                <div>
                  <ul class="d-flex px-3" style="gap: 20px">
                    <li class="">
                      {{ course.course_ids[0].content.length }} Lectures
                    </li>
                    <li class="mr-2">{{ course.course_ids[0].level }}</li>
                    <li> <b>₹ {{ course.course_ids[0].price}}</b></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4" style="gap: 5px;">
                  <button class="btn btn-outline-danger" (click)="removeCourse(course.id)">Remove</button>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-3">
          <p-divider></p-divider>
          <div class="d-flex" style="gap: 10px;">
            <h3 style="font-family: 'Courier New', Courier, monospace;"><b>Total:</b></h3>
            <h2 class="fs-2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              ₹{{totalAmount}}</h2>
          </div>
          <button routerLink="/user/payment" class="btn btn-primary w-100 p-2">Checkout</button>
        </div>
      </div>
    </div>
    <div class="card flex border-0 justify-content-center">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    </div>

