<div class="container-fluid bg-blue content-banner">
    <div class="container py-4">
        <div class=" d-flex">
            <a>
                <h3>Development ></h3>
            </a>
            <a>
                <h3>Software Engineering ></h3>
            </a>
            <a>
                <h3>{{ courseDetails.category }}</h3>
            </a>
        </div>
        <div class="courseTitle">
            <div>
                <h1>
                    <b>{{ courseDetails.courseTitle }}</b>
                </h1>
                <h2>{{ courseDetails.courseAuthor }}</h2>
                <div class="d-flex align-items-center">
                    <div class="bestseller-badge">
                        Bestseller
                    </div>
                    <div class="d-flex  ">
                        <p-rating [ngModel]="courseDetails.rating" [stars]="5" [cancel]="false"
                            [className]="'custom-star'">
                        </p-rating>
                        <p>({{ courseDetails.rating }})</p>
                    </div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <h5 class="mr-3">
                        <i class="pi pi-pencil me-2"></i>Last updated 2/2023
                    </h5>
                    <h5 class="mr-3"><i class="pi pi-globe me-2"></i>English</h5>
                    <h5 class="mr-3"><i class="pi pi-print me-2"></i>English</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row py-4">
        <div class="col-lg-8 ">
            <div class="what-u-learn border mb-4 p-4">
                <h1><b>What you'll learn</b></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="p-0 m-0" style="list-style-type:none;">
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="p-0 m-0" style="list-style-type:none;">
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                            <li class="d-flex">
                                <i class="pi pi-check me-2"></i>
                                <h5>
                                    Design and build massively Parallel Java
                                    Applications and Distributed Algorithms at Scale
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="course-include">
                        <h2 class="mb-1"><b>This course includes:</b></h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex py-2">
                                    <i class="pi pi-video me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="pi pi-download me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="pi pi-file-o me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex py-2">
                                    <i class="pi pi-star-fill me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="pi pi-mobile me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="pi pi-file-o me-2"></i>
                                    <span>
                                        7.5 hours on-demand vedio
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 border p-4">
                    <h3><b>Top companies offer this course to their employees</b></h3>
                    <span>
                        This course was selected for our collection of top-rated courses trusted
                        by businesses worldwide. <a href="#">Learn more</a>
                    </span>
                    <div class="mt-4 d-flex img-contain justify-content-between">
                        <img src="assets/img/comp.png" alt="">
                        <img src="assets/img/comp.png" alt="">
                        <img src="assets/img/comp.png" alt="">
                        <img src="assets/img/comp.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="surface-section mt-3" style="overflow: auto;">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="ud-text-sm" data-purpose="curriculum-stats"><span
                                    class="curriculum--content-length--5Nict">4 sections • 92 lectures •
                                    <span><span>6h&nbsp;10m</span> total length</span></span>
                            </div>
                            <button type="button" data-purpose="expand-toggle" aria-expanded="false"
                                class="expend-button">
                                <span>Expand all
                                    sections</span>
                            </button>
                        </div>
                        <p-accordion>
                            <p-accordionTab>
                                <ng-template class="d-flex" pTemplate="header">

                                    <div>
                                        Course Introduction
                                    </div>
                                    <span class="ml-auto">8 lectures . <span>45min</span></span>


                                </ng-template>
                                <div class="intro-list">
                                    <ul>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>

                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                    </ul>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab>
                                <ng-template class="d-flex" pTemplate="header">

                                    <div>
                                        Course Introduction
                                    </div>
                                    <span class="ml-auto">8 lectures . <span>45min</span></span>


                                </ng-template>
                                <div class="intro-list">
                                    <ul>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>

                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                    </ul>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab>
                                <ng-template class="d-flex" pTemplate="header">

                                    <div>
                                        Course Introduction
                                    </div>
                                    <span class="ml-auto">8 lectures . <span>45min</span></span>


                                </ng-template>
                                <div class="intro-list">
                                    <ul>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>

                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                    </ul>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab>
                                <ng-template class="d-flex" pTemplate="header">

                                    <div>
                                        Course Introduction
                                    </div>
                                    <span class="ml-auto">8 lectures . <span>45min</span></span>


                                </ng-template>
                                <div class="intro-list">
                                    <ul>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>

                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="pi pi-circle-fill mr-2"></i>
                                                In what topics are you expert? Where can you make "best in
                                                class" course?
                                            </div>
                                            <span>2.07</span>
                                        </li>
                                    </ul>
                                </div>
                            </p-accordionTab>
                        </p-accordion>


                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="requirements mt-4">
                        <h1><b>Requirements</b></h1>
                        <ul class="p-0 ms-3">
                            <li>Proficiency in the C</li>
                            <li>Passion for Software Engineering and Computer Science</li>
                            <li>C programming: Recommended</li>
                        </ul>
                    </div>
                    <div class="description mt-4">
                        <h1 class="mb-0"><b>Description</b></h1>
                        <p>
                            Have you always wanted to build software that reaches millions of
                            users and impact people's lives?
                        </p>
                        <p>Have you been wondering how modern companies</p>
                        <ul class="p-0 ms-3">
                            <li>Handle massive amount of internet traffic and transactions?</li>
                            <li>
                                Securely store billions of our photos, videos, and other data?
                            </li>
                            <li>
                                Provide impeccable user experience and high performance 24/7 all
                                around the globe?
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card sidebar-area">
                <div class="video-contain" (click)=" onClickVideo(courseDetails)">
                    <img src="{{courseDetails.courseImage}}" class="img-fluid" alt="" style="width: 100%; opacity: 0.4;">
                  <span class="play-button"> <img src="assets/img/play.png" alt=""> </span>
                </div>
                <div class="pricing-detail p-3">
                    <div class="d-flex align-items-center">
                        <h1 class="m-0"><b>{{ courseDetails.price | currency : "INR" }}</b></h1> <span class="ms-3">81%
                            off</span>
                    </div>
                    <div class="d-flex align-items-center mt-2" style="color: #b32d0f;">
                        <i class="pi pi-clock"></i>
                        <span class="ms-1"><b>1 day</b> left at this price!</span>
                    </div>
                    <div class="buttons mt-3">
                        <button type="button" class="cart-button" style="width: 100%;">Add to cart</button>
                        <button type="button" class="buy-now-button mt-2" style="width: 100%;">Buy now</button>
                    </div>
                    <div class="refund-details mb-2">
                        <span class="money-back">30-Day Money-Back Guarantee</span>
                        <span class="lifetime-acc mt-1">Full Lifetime Access</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <a href="" class="links">Share</a>
                        <a href="" class="links">Gift this course</a>
                        <a href="" class="links">Apply Coupon</a>
                    </div>
                </div>
                <hr>
                <div class="sidebar-content-area p-3">
                    <h2 class="m-0">Training 5 or more people?</h2>
                    <p class="mt-1">Get your team access to 19,000+ top Udemy courses anytime, anywhere.</p>
                    <button type="button" class="buy-now-button mt-2" style="width: 100%;">Try LMS Businees</button>
                </div>
            </div>
        </div>
    </div>

</div>