.content-banner{
    background-color:lightblue ;
    .bestseller-badge {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        white-space: nowrap;
        background: #eceb98;
        color: #000;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
}


video {
    cursor: pointer;
}

ngb-rating {
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(244, 236, 236)
}

a {
    cursor: pointer;
}

.defaultStar {
    position: relative;
    display: inline-block;

}

.paintStar {
    position: absolute;
    display: inline-block;
    color: black;
    overflow: hidden;
}


.courseTitle {
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
    }
}

// i {
//     margin-right: 10px;
// }

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.course-include{
    ul {
        flex-flow: wrap;
        justify-content: space-between;
        
    }
}


.courseIncludes {
    h5 {
        font-size: medium;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}



p-accordion {
    width: 5rem;
}

.courseContent {
    width: 120vh;
}

.requirements {
    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    li {
        font-size: medium;
        margin: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.description {
    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    li {
        font-size: medium;
        margin: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
}

.card-container {

    max-width: 45vh;
    max-height: fit-content;
    margin-left: 420px;
    // margin-top: 50px;
    position: absolute;

}

.headDiv {
    height: 25%;
    width: 300%;

    color: white;
}

.title h1 {
    font-size: 3.2rem;
    font-family: sans-serif;
}

.description {
    font-size: 1rem;
    font-family: serif;

}

.LearnContent {
    display: flex;
    flex-wrap: wrap;
}

aside {
    float: right;
    width: 40%;
    color: black;
    background-color: white;
    border: 1px solid black;

}